<nav class="docs-navbar-header" aria-label="Top Toolbar">
    <a mat-button class=" docs-button top-items" routerLink="/">
        <span class="material-icons" style="color: #707070;">
            reorder
        </span>
    </a>
    <a mat-button class=" docs-button top-items" routerLink="/vendors">Vendors</a>
    <a mat-button class=" docs-button top-items" routerLink="/inventory">Inventory</a>
    <a mat-button class=" docs-button top-items" routerLink="/products">Products</a>
    <a mat-button class=" docs-button top-items" routerLink="/purchase">Purchase</a>
    <a mat-button class=" docs-button top-items" routerLink="/settings">Settings</a>
    <div class="flex-spacer"></div>
    <a mat-button class=" docs-button top-items" routerLink="/users">
        <i class="fa fa-user" style="color: #707070;"></i>
        My Accoount
    </a>
    <a mat-button class=" docs-button top-items" routerLink="/">
        <i class='fas fa-sign-out-alt' style="color: #707070;"></i>
        Sign out
    </a>
</nav>

