<nav class="docs-navbar-header" aria-label="Top Toolbar" [class.is-next-version]="isNextVersion">
    <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/">
        <span class="material-icons">
            reorder
        </span>
    </a>
    <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/vendors">Vendors</a>
    <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/inventory">Inventory</a>
    <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/products">Products</a>
    <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/purchase">Purchase</a>
    <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/settings">Settings</a>
    <div class="flex-spacer"></div>
    <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/">
        <span class="material-icons">
            reorder
        </span>
        My Accoount
    </a>
    <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/">
        <span class="material-icons">
            reorder
        </span>
        Sign Out
    </a>
</nav>
