<nav class="docs-navbar-header pr-3 pl-3" 
    aria-label="Top Toolbar"
    [class.is-next-version]="isNextVersion" style="padding: 2rem 0px;">
    <div class="skip-link-wrapper" [class.cdk-visually-hidden]="skipLinkHidden" *ngIf="skipLinkHref">
        <a mat-raised-button [href]="skipLinkHref" (focus)="skipLinkHidden = false" (blur)="skipLinkHidden = true" color="accent">
        Skip to main content
        </a>
    </div>
    <a mat-button class="docs-button" aria-label="Angular Material">
        <img class="docs-angular-logo"
            src="./assets/images/etan.png"
            alt="angular">
    </a>

    <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/">HOME</a>
    <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/applications">APPLICATIONS</a>
    <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/product-ideas">PRODUCT IDEAS</a>
    <div class="flex-spacer"></div>
    <a mat-button class="docs-button docs-navbar-hide-small" routerLink="/mailer-lite"
        aria-label="GitHub Repository">
        CONTACT US
    </a>
    <div class="burger" (click)="menuToggle($event.currentTarget.className)">
        <div class="x"></div>
        <div class="y"></div>
        <div class="z"></div>
    </div>    
    <div class="screen">
        <div class="circle"></div>
        <div class="menu">
            <ul>
                <li><a>HOME</a></li>
                <li><a>APPLICATIONS</a></li>
                <li><a>PRODUCT IDEAS</a></li>
                <li><a>CONTACT US</a></li>
            </ul>
        </div>
    </div>
</nav>
