<main class="docs-homepage-promo" style="height: 100vh;">
  <mat-card mat-card style="width: 400px;margin: auto;padding: 30px;">
    <div class="row" style="height: 100%;padding: 30px;">
      <mat-card-title >Welcome Back!</mat-card-title>
      <div class="col-12">
        <mat-form-field class="example-full-width" style="width: 100%;">
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="Email Address">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="example-full-width" style="width: 100%;">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password">
        </mat-form-field>
      </div>
      <div class="col-12">
        <button mat-raised-button class="dashboard-btn" style="width: 100%;">Submit</button>
      </div>
      <img src="./../../../../assets/images/applications/background.png" class="bg-img">
    </div>
    <div>Forget Password?</div>
  </mat-card>
</main>