<main class="docs-homepage-promo">
  
  <div class="docs-homepage-row docs-introduction etan-home-new-site">
    <div class="docs-homepage-row-column etan-home-new-text">
      <h1 class="dashboard-title" > Your NetSuite</h1>
      <h1 class="dashboard-title"><span class= "dashboard-span">Application</span> Hub</h1>
      <p class="dashboard-content">Grow your business by integrating NetSuite with 200+ cloud and on-premise applications.Prebuilt solutions and connectors that integrate NetSuite with 200+ cloud and on-premise applications.</p>
      <button mat-raised-button class="dashboard-btn">CONTACT US</button>
      <p style="margin-top: 5%" class="dashboard-letter-small">LATEST APPS</p>
      <div style="height: 5vh">
        <img style="width: 30%;margin-left: 3%;height: 100%" src="./assets/images/home/Bitmap@1X.png">
        <img style="width: 30%;margin-left: 2%;height: 100%"  src="./assets/images/home/Bitmap@1X_2.png">
        <img style="width: 30%;margin-left: 2%;height: 100%"  src="./assets/images/home/Bitmap@1X_2.png">
      </div>
    </div>
    <div class="docs-homepage-row-column" style="background: url('assets/images/board image 1.png');background-size: 66% 83%;background-repeat: no-repeat;
    padding-left: 4%;background-repeat: no-repeat;">
      <img class="dashboard-base-img" src="./assets/images/home/website_2@3x@1X.png">
    </div>
  </div>

  <div style="background-color: #F7FAFF;">
    <div class="docs-homepage-featured-components docs-homepage-carousel-row mailer-home-h-text">
      <h2>Built and customized for integrations </h2>
    </div>

    <div class="docs-homepage-featured-components docs-homepage-carousel-row mailer-home-h-text-content">
      <h2>ETAN’s built-in machine learning and context-aware features guarantee that it only takes a few minutes to push new integrations to your app.</h2>
    </div>

    <div class="docs-homepage-row docs-introduction" style="text-align: center">
      <div class="docs-homepage-row-column" style="padding-bottom: 3%;">
        <div style="width: 100%; height: 100%">
          <img src="./assets/images/home/integration1.png">
        </div>
        <h2>Easy to use</h2>
        <p style="text-align: center;padding: 1% 20% 1% 20%;">
          You are just a click away on hitting major milestone on your NetSuite implementation.
        </p>
        <button mat-button color="primary">Learn more ></button>
      </div>
      <div class="docs-homepage-row-column" style="padding-bottom: 3%;">
        <div style="width: 100%; height: 100%">
          <img src="./assets/images/home/integration2.png">
        </div>      
        <h2>Gives Power to you</h2>
        <p style="text-align: center;padding: 1% 20% 1% 20%;">
          Responsive and flexible designs on your NetSuite application, interacting real time to your data.
        </p>
        <button mat-button color="primary">Learn more ></button>
      </div>
      <div class="docs-homepage-row-column" style="padding-bottom: 3%;">
        <div style="width: 100%; height: 100%">
          <img src="./assets/images/home/integration3.png">
        </div>      
        <h2>Upgrade and Maintenance</h2>
        <p style="text-align: center;padding: 1% 20% 1% 20%;">
          With ETAN apps, we keep up with upgrades so you can focus on your business.
        </p>
        <button mat-button color="primary">Learn more ></button>
      </div>
    </div>
  </div>


  <div class="docs-homepage-row etan-home-approval docs-introduction pr-5 pl-5">
    <div class="docs-homepage-row-column">
      <h1 style="color: black;" class="dashboard-title" > Etan Approval</h1>
      <p class="dashboard-content">Using various technolgies, we are commited to provide you better designed, powerful NETSUITE applications on your finger tips. FastTrack your implementation by installing our app today</p>
      <div>
        <span class="dashboard-letter-middle-img" style="float: left;"><img src = "./assets/images/home/Combined Shape@1X.png"></span>
        <p class="dashboard-letter-middle"  style="float: left;margin-left: 10px">complete visibility of the approval processes</p>
      </div>
      <div>
        <span class="dashboard-letter-middle-img" style="float: left;"><img src = "./assets/images/home/Combined Shape@1X.png"></span>
        <p class="dashboard-letter-middle"  style="float: left;margin-left: 10px">Minimizes the delay on gaining approvals.</p>
      </div>
      <div>
        <span class="dashboard-letter-middle-img" style="float: left;"><img src = "./assets/images/home/Combined Shape@1X.png"></span>
        <p class="dashboard-letter-middle"  style="float: left;margin-left: 10px">Eliminates paper usage</p>
      </div>
      <div>
        <span class="dashboard-letter-middle-img" style="float: left;"><img src = "./assets/images/home/Combined Shape@1X.png"></span>
        <p class="dashboard-letter-middle"  style="float: left;margin-left: 10px">Quick and easy setup</p>
      </div>
      <div>
        <button mat-raised-button class="dashboard-btn-request">REQUEST DEMO</button>
        <a class="dashboard-btn-learnmore" style="margin-left: 5% ;color: blue;">Learn more > </a>
      </div>
    </div>
    <div class="docs-homepage-row-column block">  
      <img class="dashboard-base-img" src="./assets/images/home/Group 5@0.25X.png">
    </div>
  </div>

  <div class="docs-homepage-row docs-introduction docs-introduction-4 etan-home-checking" style="background-color: #1F2752; width: 100%;">
    <div class="docs-homepage-row-column" style="padding-right: 50px">
      <img src="./assets/images/home/content.png" style="height: 100%">      
    </div>
    <div class="docs-homepage-row-column" style="overflow: auto; padding: 4% 50px 4% 4px;">
        <h1 style="color: white;text-align: left" class="dashboard-title" >Check Writing</h1>
        <div>
          <span class="dashboard-letter-middle-img" style="float: left;"><img src = "./assets/images/home/Combined Shape@1X.png"></span>
          <p class="dashboard-letter-middle"  style="float: left;margin-left: 5%;color: white">Literally NO learning curve at all</p>
        </div>      
        <p class="dashboard-content" style="text-align: left">A simple application to send check out of the system.User can enter the receipient and amount, and the application would send check directly to the address specified.</p>

        <div>
          <span class="dashboard-letter-middle-img" style="float: left;"><img src = "./assets/images/home/Combined Shape@1X.png"></span>
          <p class="dashboard-letter-middle"  style="float: left;margin-left: 5%;color: white">Your payees will have a better impression</p>
        </div>
        <div>
          <span class="dashboard-letter-middle-img" style="float: left;"><img src = "./assets/images/home/Combined Shape@1X.png"></span>
          <p class="dashboard-letter-middle"  style="float: left;margin-left: 5%;color: white">Literally NO learning curve at all</p>
        </div>
        <div>
          <span class="dashboard-letter-middle-img" style="float: left;"><img src = "./assets/images/home/Combined Shape@1X.png"></span>
          <p class="dashboard-letter-middle"  style="float: left;margin-left: 5%;color: white">It's extremely easy to set up</p>
        </div>
        <div>
          <span class="dashboard-letter-middle-img" style="float: left;"><img src = "./assets/images/home/Combined Shape@1X.png"></span>
          <p class="dashboard-letter-middle"  style="float: left;margin-left: 5%;color: white">Avoids typo or unclear writing</p>
        </div>
    </div>
  </div>

  <div class="docs-homepage-row docs-introduction etan-home-sms-not pr-6 pl-6">
    <div class="docs-homepage-row-column">
      <h1 style="color: black;" class="dashboard-title" > SMS Notification </h1>
      <p class="dashboard-content">It provides developers easy way to send sms from the system directly. Send SMS directly for any kind of service like shipping, ecommerce etc. </p>

      <div>
        <span class="dashboard-letter-middle-img" style="float: left;"><img src = "./assets/images/home/Combined Shape@1X.png"></span>
        <p class="dashboard-letter-middle"  style="float: left;margin-left: 5%">Write the code that counts </p>
      </div>
      <div>
        <span class="dashboard-letter-middle-img" style="float: left;"><img src = "./assets/images/home/Combined Shape@1X.png"></span>
        <p class="dashboard-letter-middle"  style="float: left;margin-left: 5%">Phone number that get the job done</p>
      </div>
      <div>
        <span class="dashboard-letter-middle-img" style="float: left;"><img src = "./assets/images/home/Combined Shape@1X.png"></span>
        <p class="dashboard-letter-middle"  style="float: left;margin-left: 5%">Carrier complexities handled for you</p>
      </div>

      <div>
        <button mat-raised-button class="dashboard-btn-request">REQUEST DEMO</button>
        <a class="dashboard-btn-learnmore" style="margin-left: 5% ;color: blue;">Learn more > </a>
      </div>
    </div>
    <div class="docs-homepage-row-column block">
      <img class="dashboard-base-img" src="./assets/images/home/code all.png">
    </div>
  </div>

  <div class="etan-home-footer">
    <img src="./assets/images/home/Oval Copy 2@1X.png">
    <div class="etan-home-footer-content">
      <div class="docs-homepage-featured-components etan-home-footer-content-header docs-homepage-carousel-row">
        <h2>TRUSTED BY PEOPLE WORLWIDE FOR THEIR DAY TO DAY REQUIREMENTS</h2>
      </div>

      <div class="docs-homepage-featured-components etan-home-footer-content-header-text docs-homepage-carousel-row">
        <h2 class="mat-h2">" This is one of the best Integration I have used so far. All apps works so perfectly that we dont have to use any 3rd party app. "</h2>
      </div>


      <div class="etan-home-footer-content-content"> 
        <div class="docs-homepage-row etan-home-footer-content-content-user docs-introduction">
          <div class="docs-homepage-row-column">
            <div class="etan-home-footer-content-content-user-bg">
              <div style="background: url('./assets/images/home/develooper1.png'); background-size: 100% 100%;">
              </div>
            </div>
          </div>
          <div class="docs-homepage-row-column etan-home-footer-content-content-user-name" style="margin-left: 10px;">
            <p class="etan-home-footer-user-name">
              Marti Valencia
            </p>
            <p class="etan-home-footer-user-job">Software Engineer</p>
          </div>
        </div>
      </div>
    </div>
  </div>   
</main>
<app-footer></app-footer>