<main class="docs-homepage-promo" style="overflow-x: hidden;">
  <div class="row">
    <div id="FIRST" class="col-md-12 col-sm-12 col-lg-12">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-sm-12 col-md-5">
          <h1>Get in touch with us for any type of queries</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-sm-12 col-md-5">
          <h4>Have a question? Just fill out this form and we will make sure to get back to you as early as possible.</h4>
        </div>
      </div>
      <img src="./assets/images/applications/Oval Copy 4@1X (1).png">
    </div>
  </div>

  <div class="row">
    <div id="SECOND">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <p style="text-align: left;">First Name</p>
          <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Ex. Oleg">
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6">
          <p style="text-align: left;">Last Name</p>
          <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Ex. Puzanov">
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6">
          <p style="text-align: left;">Email Address</p>
          <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. olegpuzanov@gmail.com">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6">
          <p style="text-align: left;">First Name</p>
          <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+1 &nbsp;</span>
            <input type="tel" matInput placeholder="555-555-1234">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-12">
          <p style="text-align: left;">How can we help?</p>
          <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..." style="height: 87px;"></textarea>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-12">
          <div class="col-md-6">
            <button mat-raised-button class="dashboard-btn">Submit</button>
          </div>
          <div class="col-md-6">
            <button mat-raised-button class="dashboard-btn">Submit</button>
          </div>          
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>