<main class="docs-homepage-promo main">
  <div *ngIf="new_production"  class="docs-homepage-row docs-introduction pr-3 pl-3">
    <div class="docs-homepage-row-column">
      <h1 class="dashboard-title" > Do you have an app idea? Let us help you with it. </h1>
      <p class="dashboard-content"> search through our existing idea or add a new one </p>
      <div class="produt-list">
        <div class="search-pad">
          <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
          <mat-form-field class="search-pad-input">
            <input matInput [(ngModel)]="searchProduction" />
          </mat-form-field>
          <button (click)="new_production = !new_production" mat-raised-button class="new-idea-btn"> + SUBMIT NEW IDEA</button>
        </div>
      <div class="search-table" *ngIf="(productions | filter: searchProduction: filterKey).length > 0; else noResults">
          
          <div class="all-production" *ngFor="let production of productions | filter: searchProduction: filterKey">
            <div class="search-name">{{production.name}}</div>
            <div class="search-idea">{{production.idea}}</div>
          </div>

        </div>
        <ng-template #noResults>
          <p>No results found for "{{searchProduction}}".</p>
        </ng-template>
      </div>
    </div>
    <div class="docs-homepage-row-column production-main-image">
      <img class="dashboard-base-img" src="./assets/images/product_ideas/Asset 2@4x@4X.png">
    </div>
  </div>

  <div *ngIf="!new_production" class="docs-homepage-row docs-introduction pr-3 pl-3">
    <div class="docs-homepage-row-column">
      <h1 class="dashboard-title" > Submit new idea </h1>
      <p class="dashboard-content"> Just fill out the following details related to 
        your idea and we will list it on our platform for voting </p>
      <div class="profile-list">
        <div>
          <div>
            <mat-label class="font-20-size">Name</mat-label>
          </div>
          <mat-form-field class="production-name">
            <input class="font-20-size" matInput>
          </mat-form-field>
        </div>
        <div>
          <div>
            <mat-label class="font-20-size">Email Address</mat-label>
          </div>
          <mat-form-field class="production-name">
            <input class="font-20-size" matInput>
          </mat-form-field>
        </div>

        <div>
          <div>
            <mat-label  class="font-20-size">Category</mat-label>
          </div>
          <div>
            <mat-form-field appearance="fill" class="production-name">
              <mat-select name="data"  class="font-20-size">
                <mat-option *ngFor="let data of datas" [value]="data.value">
                  {{data.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div>
          <div>
            <div class="production-parent">
              <mat-label class="font-20-size">Description</mat-label>
            </div>
            <div class="production-description">
              <mat-label class="production-description-label" align="end">{{message.value.length}} / 150 Characteres remaining </mat-label>
            </div>
          </div>
          <mat-form-field class="example-full-width production-description-textarea-parent">
            <textarea #message maxlength="150" class="production-description-textarea" matInput></textarea>
          </mat-form-field>
        </div>
        <div>
          <span class="dashboard-letter-middle-img new-idea-success"><img src = "./assets/images/product_ideas/Combined Shape@4X.png"></span>
          <p class="dashboard-letter-middle new-idea-letter" >Thank you for you submitting your idea</p>
        </div>
      </div>
    </div>

    <div class="docs-homepage-row-column production-main-image production-main-image-new">
      <img class="dashboard-base-img dashboard-base-img-new" src="./assets/images/product_ideas/Asset 2@4x@4X.png">
    </div>
  </div>
</main>
<app-footer></app-footer>