<footer class="docs-footer"
        [class.is-next-version]="isNextVersion">
  <div class="docs-component-category-list">
    <div class="docs-component-category-list-item">
      <div class="docs-component-category-list-card">
        <div class="docs-component-category-list-card-title mb-1">NAVIGATION</div>
        <div class="docs-component-category-list-card-summary min-height-unset">Home</div>
        <div class="docs-component-category-list-card-summary min-height-unset">Applications</div>
        <div class="docs-component-category-list-card-summary min-height-unset">Product Ideas</div>
        <div class="docs-component-category-list-card-summary min-height-unset">Contact Us</div>
      </div>
    </div>
    <div class="docs-component-category-list-item">
      <div class="docs-component-category-list-card">
        <div class="docs-component-category-list-card-title mb-1">COMPANY</div>
        <div class="docs-component-category-list-card-summary min-height-unset">About Us</div>
        <div class="docs-component-category-list-card-summary min-height-unset">Press</div>
        <div class="docs-component-category-list-card-summary min-height-unset">Partners</div>
        <div class="docs-component-category-list-card-summary min-height-unset">Careers</div>
      </div>
    </div>
    <div class="docs-component-category-list-item">
      <div class="docs-component-category-list-card">
        <div class="docs-component-category-list-card-title mb-1">RESOURCES</div>
        <div class="docs-component-category-list-card-summary min-height-unset">API Docs</div>
        <div class="docs-component-category-list-card-summary min-height-unset">Status</div>
        <div class="docs-component-category-list-card-summary min-height-unset">Blog</div>
        <div class="docs-component-category-list-card-summary min-height-unset"></div>
      </div>
    </div>
    <div class="docs-component-category-list-item">
      <div class="docs-component-category-list-card">
        <div class="docs-component-category-list-card-title mb-1">LEGAL</div>
        <div class="docs-component-category-list-card-summary min-height-unset">Privacy Policy</div>
        <div class="docs-component-category-list-card-summary min-height-unset">EU Privacy Policy</div>
        <div class="docs-component-category-list-card-summary min-height-unset">Terms of Use</div>
        <div class="docs-component-category-list-card-summary min-height-unset">Privacy Shield Policy</div>
      </div>
    </div>
    <div class="docs-component-category-list-item">
      <div class="docs-component-category-list-card">
        <div class="docs-component-category-list-card-title mb-1">SUPPORT</div>
        <div class="docs-component-category-list-card-summary min-height-unset">Contact</div>
        <div class="docs-component-category-list-card-summary min-height-unset">+ 1800 111 2221</div>
        <div class="docs-component-category-list-card-summary min-height-unset">support@etan.io</div>
        <div class="docs-component-category-list-card-summary min-height-unset">Talk to us on Live Chat</div>
      </div>
    </div>
  </div>
  <a mat-button class="docs-button" routerLink="/" aria-label="Angular Material">
    <img class="docs-angular-logo" style="padding-left: 39px; height: 30px; margin-top: -50px;"
         src="./assets/images/etan.png"
         alt="angular" />
  </a>
  <!-- <div class="screen">
    <div class="navbar"></div>      
    <div class="circle"></div>
    <div class="menu">
      <ul>
        <li><a href="">About</a></li>
        <li><a href="">Share</a></li>
        <li><a href="">Activity</a></li>
        <li><a href="">Settings</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>			     
    <div class="burger" (click)="menuToggle($event.currentTarget.className)">
      <div class="x"></div>
      <div class="y"></div>
      <div class="z"></div>
    </div>    
  </div>	 -->
</footer>