<main class="docs-homepage-promo" style="overflow-x: hidden;">
  <div class="row">

    <!-- first -->

    <div id="FIRST" class="col-md-12 col-sm-12 col-lg-12">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-sm-12 col-md-6">
          <h1>Discover apps that extend the power of NetSuite</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-sm-12 col-md-6">
          <h4>Explore all the available apps to extend yout reach. We keep on working on new ideas and if you have some, feel free to share one.</h4>
        </div>
      </div>
      <img src="./assets/images/applications/Oval Copy 4@1X (1).png">
    </div>


    <!-- second -->

    <div id="SECOND" class="col-md-12 col-sm-12 col-lg-12">
      <div class="row">

        <div id="filters-sm">
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Filters
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <h4>Browse</h4>
                  <p class="app-content-left-list">Popular</p>
                  <p class="app-content-left-list">Latest</p>
                  <p class="app-content-left-list">Most installed</p>
                </div>  

                <div class="col-sm-6">
                  <h4>Categories</h4>
                  <p class="app-content-left-list">Advertising</p>
                  <p class="app-content-left-list">Consulting</p>
                  <p class="app-content-left-list">ERP</p>
                  <p class="app-content-left-list">Health</p>
                  <p class="app-content-left-list">IT Services</p>
                  <p class="app-content-left-list">Manufacturing</p>
                  <p class="app-content-left-list">Media and Publishing</p>
                  <p class="app-content-left-list">Nonprofit</p>
                  <p class="app-content-left-list">Other Services</p>
                  <p class="app-content-left-list">Other industry solutions</p>
                  <p class="app-content-left-list">Professional Services</p>
                  <p class="app-content-left-list">Retail</p>
                  <p class="app-content-left-list">Services Resource Planning</p>
                  <p class="app-content-left-list">Software</p>
                  <p class="app-content-left-list">Wholesale Distribution</p>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>


        <div id="filters-md" class="col-md-3">
          <div class="col-md-12">
            <h4>Browse</h4>
            <p class="app-content-left-list">Popular</p>
            <p class="app-content-left-list">Latest</p>
            <p class="app-content-left-list">Most installed</p>
          </div>  

          <div class="col-md-12">
            <h4>Categories</h4>
            <p class="app-content-left-list">Advertising</p>
            <p class="app-content-left-list">Consulting</p>
            <p class="app-content-left-list">ERP</p>
            <p class="app-content-left-list">Health</p>
            <p class="app-content-left-list">IT Services</p>
            <p class="app-content-left-list">Manufacturing</p>
            <p class="app-content-left-list">Media and Publishing</p>
            <p class="app-content-left-list">Nonprofit</p>
            <p class="app-content-left-list">Other Services</p>
            <p class="app-content-left-list">Other industry solutions</p>
            <p class="app-content-left-list">Professional Services</p>
            <p class="app-content-left-list">Retail</p>
            <p class="app-content-left-list">Services Resource Planning</p>
            <p class="app-content-left-list">Software</p>
            <p class="app-content-left-list">Wholesale Distribution</p>
          </div>
        </div>

        <div class="col-md-9 col-sm-12" style="margin-top: 30px;">
          <div class="row mat-search">
            <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
            <mat-form-field style="margin-left:7px;">
              <input matInput placeholder="Search for apps…" [(ngModel)]="searchIdea">
            </mat-form-field>
          </div>

          <div class="row mat-select">
            <div class="col-sm-12 col-md-12">
              <div class="col-sm-6 col-md-6" id="select-divide">
                <h4>16 Popular apps</h4>
              </div>
              <div class="col-sm-6 col-md-6" id="select-divide">
                <div class="col-sm-3" id="select-out">  
                  <select class="form-control" name="isActive" [(ngModel)]="raitingSort" #isActive="ngModel" (change)="sortApp()">
                    <option [ngValue]="0">Popular</option>
                    <option [ngValue]="1">Title</option>
                    <option [ngValue]="2">Kind</option>
                  </select>
                </div>
                <span>SORT BY</span>
              </div>
            </div>
          </div>

          <div class="row grid" style="width: 100%;" style="font-size: 15px">
            <div class="col-sm-12 col-md-6 col-lg-4 grid-all" *ngFor="let powerApp of powerApps | filter : searchIdea : filterKey">
              <div class="grid-one">
                <ul class="grid-ul">
                  <li class="grid-li-header">
                    <img src="./assets/images/applications/{{powerApp.image}}">
                    <div class="grid-li-header-inside">
                      <p class="grid-li-header-inside-header">{{powerApp.name}}</p>
                      <p class="grid-li-header-inside-content">{{powerApp.kind}}</p>
                      <div style="width: 100%">
                        <mat-icon *ngFor='let in of counter(5) ;let i = index' color="{{colorSetting(i, powerApp.grade)}}">grade</mat-icon>
                      </div>
                    </div>
                  </li>
                  <li class="grid-li-content">{{powerApp.content}}</li> 
                  <li class="grid-li-footer">
                    <a mat-button color="primary"><span>View </span><mat-icon color="primary">keyboard_arrow_right</mat-icon></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- third -->
    <div id="THIRD" style="background: url('./assets/images/applications/Mask@1X.png')" class="col-md-12 col-sm-12 col-lg-12">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-sm-12 col-md-3">
          <h1>Do you have an app idea in mind?</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1" style="float: left"></div>
        <div class="col-md-7 col-sm-12">
          <p>Just search from existing ideas or submit a new one</p>
        </div>
        <div class="col-sm-12 col-md-4" style="float: left">
          <section>
            <div class="example-button-row">
              <button mat-raised-button><span>SUBMIT IDEA</span></button>
            </div>
          </section>
        </div>
      </div>
      <img src="./assets/images/applications/Oval Copy 4@1X (2).png">
    </div>
  </div>
</main>
<app-footer></app-footer>
