<main class="docs-homepage-promo">
  <section class="f-section">
    <div class="row mailer-h-text">
      <div class="col-md-3 text-center">
        <div class="mailer-dot-group">
          <img src="./assets/images/mailer-lite/Group 2 Copy 6@1X.png" alt="">
        </div>
        <div class="malier-lite-logo">
          <img src="./assets/images/mailer-lite/Bitmap@1X.png" class="bg-white border-radius-10" alt="mailer">
        </div>
      </div>
      <div class="col-md-6 mailer-h-center">
        <div class="d-inline-flex mb-1">
          <h3 style="margin: 0px 10px 0px 0px;">MailerLite</h3>
          <div class="mailer-stars">
            <mat-icon aria-hidden="false" style="color: #e6e60e;" aria-label="Example home icon">star</mat-icon>
            <mat-icon aria-hidden="false" style="color: #e6e60e;" aria-label="Example home icon">star</mat-icon>
            <mat-icon aria-hidden="false" style="color: #e6e60e;" aria-label="Example home icon">star</mat-icon>
            <mat-icon aria-hidden="false" style="color: #e6e60e;" aria-label="Example home icon">star</mat-icon>
            <mat-icon aria-hidden="false" style="color: #d0d0d0;" aria-label="Example home icon">star</mat-icon>
          </div>
        </div>
        <div>
          <span class="d-block w-100" style="color: #888888; font-weight: bold; margin-bottom: 5px;">Marketing Automation</span>
          <span>MailerLite is the simplest email marketing tool for small business. Forget complex settings and unnecessary features.</span>
        </div>
      </div>
      <div class="col-md-3 mailer-lite-logo-btn">
        <!-- <div class="mailer-lite-logo-btn"> -->
          <button mat-raised-button class="mailer-btn">SCHEDULE DEMO</button>
        <!-- </div> -->
      </div>
    </div>
    <div class="mailer-image-intro">
      <img class="mailer-image" src="./assets/images/mailer-lite/Bitmap@1X (1).png" alt="don't see" />
      <div class="d-inline-flex under-image">
        <img src="./assets/images/mailer-lite/Bitmap Copy@1X.png" alt="">
        <img src="./assets/images/mailer-lite/Bitmap Copy 2@1X.png" alt="">
        <img src="./assets/images/mailer-lite/Bitmap@1X (2).png" alt="">
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-6 mailer-overview-image1">
        <img src="./assets/images/mailer-lite/Rectangle@1X (1).png" class="position-absolute" style="width: 35%;left: 15%;top: 10%;max-width: 215px;" alt="">
        <img src="./assets/images/mailer-lite/Bitmap Copy 3@1X.png" class="position-absolute" style="width: 60%;left: 20%;top: 25%;max-width: 370px;" alt="">
      </div>
      <div class="col-md-6" style="padding: 5% 0; text-align: center;">
        <div class="mailer-overview-text">
          <h3>Overview</h3>
          <div class="col-md-6 mailer-overview-image2">
            <img src="./assets/images/mailer-lite/Rectangle@1X (1).png" class="mailer-overview-img1" style="width: 35%;left: 15%;top: 10%;max-width: 215px;" alt="">
            <img src="./assets/images/mailer-lite/Bitmap Copy 3@1X.png" class="mailer-overview-img2" style="width: 60%;left: 20%;top: 25%;max-width: 370px;" alt="">
          </div>
          <p class="mb-0">Create simple, yet impressive campaigns in lesser time with MailerLites's drag and drop, HTML editor and built-in newsletter templates. Experience growth in the number of your subscribers through landing pages, popus and capture more people around the Internet.</p>
          <br>
          <p class="mb-0">MailerLite generate campaign reports so you can learn what is best for your business.</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="row position-relative" style="background-color: #f7faff;">
      <!-- <img src="./assets/images/mailer-lite/Rectangle@1X (1).png" style="position: absolute; z-index: -1; width: 100%; height: 290px; top: 15%;" alt=""> -->
      <div class="col-md-6 text-center" style="padding: 5% 0;">
        <div class="mailer-one-click">
          <h3>One-Click Receipt Tracking</h3>
          <div class="mailer-one-click-img1">
            <img style="width: 320px;" src="./assets/images/mailer-lite/Asana Copy@1X.png" alt="">
          </div>
          <span class="mb-0">Snap a photo of your receipt using the Expensify mobile app, and patented SmartScan technology automatically reads the merchant name, date, and amount, and transcribes this information onto an expense report.</span>
          <br>
          <br>
          <button mat-raised-button class="mailer-btn">REQUEST DEMO</button>
        </div>
      </div>
      <div class="col-md-6 mailer-one-click-img2">
        <img style="width: 320px;" src="./assets/images/mailer-lite/Asana Copy@1X.png" alt="">
      </div>
    </div>
  </section>
  <section style="padding: 50px 0;">
    <div class="row">
      <div class="col-md-6 mailer-feature-img1">
        <img src="./assets/images/mailer-lite/Screen Shot 2020-07-09 at 8.55.43 PM Copy@1X.png" alt="">
      </div>
      <div class="col-md-6 text-center">
        <div class="mailer-feature-text">
          <h1>Features</h1>
          <div class="mailer-feature-img2">
            <img src="./assets/images/mailer-lite/Screen Shot 2020-07-09 at 8.55.43 PM Copy@1X.png" alt="">
          </div>
          <div class="ml-1 mb-1">
            <div class="d-table mb-1">
              <img class="d-table-cell" src="./assets/images/mailer-lite/Combined Shape@1X.png" style="padding-right: 10px;" alt="">
              <h6 class="mb-0 d-table-cell align-middle">The Expensify Card</h6>
            </div>
            <span style="color: #989898;">An integrated company card with realtime visibility into employee spend and automatically generated eReceipts. The Expensify Card makes everything from swipe to settlement a breeze.</span>
          </div>
          <div class="ml-1 mb-1">
            <div class="d-table mb-1">
              <img class="d-table-cell" src="./assets/images/mailer-lite/Combined Shape@1X.png" style="padding-right: 10px;" alt="">
              <h6 class="mb-0 d-table-cell align-middle">Credit Card Reconcillation</h6>
            </div>
          </div>
          <div class="ml-1 mb-1">
            <div class="d-table mb-1">
              <img class="d-table-cell" src="./assets/images/mailer-lite/Combined Shape@1X.png" style="padding-right: 10px;" alt="">
              <h6 class="mb-0 d-table-cell align-middle">Multi-Layer Approval Workflows</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="row mailer-submit-idea" style="background: url('./assets/images/mailer-lite/Mask@222.png');">
      <div class="col-md-6 text-center">
        <div class="mailer-submit-idea-text">
          <h2 class="mb-1">Do you have an app idea in mind?</h2>
          <span>Just search from existing ideas or submit a new one</span>
        </div>
      </div>
      <div class="col-md-6 text-center d-inline-block">
        <div class="mailer-submit-btn">
          <button mat-raised-button class="mailer-btn-white">SUBMIT IDEA</button>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>